.card__border {
  height: 100%;
  border: 2px solid var(--secondary-color);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.tooltip-text {
  visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100px;
    color: white;
    font-size: 10px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 10px;
    bottom: 127px;
    text-align: center;
}

.card__border:hover .tooltip-text {
  visibility: visible;
}
