<footer *ngIf="!displayNewPlayerForm && gameMode == 'jugador' && !revealResult" @zoomIn>
  <h2 class="footer__title">Selecciona de las cartas a continuación</h2>
  <section
    class="footer__middle-section flex-center"
  >
    <ng-container *ngFor="let number of selectionCards">
      <app-game-card
        innerText="{{ number }}"
        class="card number-card selectable"
        [ngClass]="number == playerSelection ? 'selected' : ''"
        (click)="onSelectionChange(number)"
      />
    </ng-container>
  </section>
  
</footer>

<!-- Footer result display -->

<footer *ngIf="revealResult" @zoomIn>
  <h2 class="footer__title">Resultados</h2>
  <div class="flex-center">

    <section class="footer__side-section flex-center"></section>
    <section class="footer__middle-section flex-center">
      <ng-container *ngFor="let number of occurrences | keyvalue">
        <app-game-card
        innerText="{{ number.key }}"
        footerText="{{ number.value }} votos"
        class="card result-card"
        [showToolTip]="false"
        />
      </ng-container>
    </section>
    <section class="footer__side-section flex-center" *ngIf="revealResult">
      <p>Promedio</p>
      <h2 class="footer__result">{{ avarage }}</h2>
    </section>
  </div>
</footer>
