.number-card {
  height: 120px;
  width: 60px;
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.number-card:hover,
.selected {
  background-color: var(--primary-color-light);
  border-radius: 0.5rem;
  transform: translate(0, -10px);
  -webkit-transform: translate(0, -10px);
  -moz-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  -o-transform: translate(0, -10px);
}

.selected {
  transition: none;
  -webkit-box-shadow: 0px 0px 28px 7px var(--secondary-color-dark2);
  -moz-box-shadow: 0px 0px 28px 7px var(--secondary-color-dark2);
  box-shadow: 0px 0px 28px 7px var(--secondary-color-dark2);
  color: var(--primary-color-dark2) !important;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

.number-card.selectable {
  cursor: pointer;
}

.footer__result {
  font-size: 3rem;
}
