<div class="modal__body flex-center">
  <div class="modal__header">
    <h4>Invitar jugadores</h4>
    <button class="modal__close-button" type="button" (click)="onClose()">
      X
    </button>
  </div>
  <input
    id="invitation-link"
    class="single-form__input"
    type="text"
    value="{{ invitationLink }}"
    readonly
  />
  <button class="single-form__button" type="button" (click)="onCopyLink()">
    Copiar Link
  </button>
</div>
<app-notification
  class="notification"
  message="Link copiado al portapapeles"
  (displayNotification)="onDisplayNotification($event)"
  *ngIf="displayNotification"
/>
