<form class="single-form" [formGroup]="userLoginForm">
    <app-input-label [for]="'user-email'" [text]="'Correo'" />
    <app-input
      id="user-email"
      type="text"
      name="user-email"
      [formControlObject]="userLoginForm.controls.userEmail"
    />
    <app-input-label [for]="'user-password'" [text]="'Contraseña'" />
    <app-input
      id="user-password"
      type="text"
      name="user-password"
      [formControlObject]="userLoginForm.controls.password"
    />
    <app-button
      id="create-game"
      class="flex-center"
      text="Iniciar de sesión"
      (click)="onLogin()"
    />
  </form>