.user-logo {
  height: 40px;
  width: 40px;
  padding: 10px;
  background-color: var(--secondary-color-light);
  border-radius: 50%;
  cursor: pointer;
}

.player-card {
  height: 60px;
  width: 60px;
  cursor: auto;
}

.user-logo h3 {
  font-size: 1.2rem;
  color: var(--primary-color-dark1);
}
