.game-title {
  font-size: 1.5rem;
}

.card-caption {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

#user-logo {
  height: 40px;
  width: 40px;
  padding: 10px;
  background-color: var(--secondary-color-light);
  border-radius: 50%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  padding: 10%;
}

.table__body {
  height: 325px;
  width: 575px;
  border: 2px solid var(--secondary-color-dark2);
  border-radius: 400px;
  -webkit-border-radius: 400px;
  -moz-border-radius: 400px;
  -ms-border-radius: 400px;
  -o-border-radius: 400px;
  box-shadow: 0px -1px 11px -2px var(--secondary-color);
  -webkit-box-shadow: 0px -1px 11px -2px var(--secondary-color);
  -moz-box-shadow: 0px -1px 11px -2px var(--secondary-color);
}

.table__body-border {
  height: 285px;
  width: 535px;
  border: 2px solid var(--secondary-color-light);
  border-radius: 400px;
  -webkit-border-radius: 400px;
  -moz-border-radius: 400px;
  -ms-border-radius: 400px;
  -o-border-radius: 400px;
}

.table__body-inner {
  height: 250px;
  width: 500px;
  background-color: var(--primary-color-dark2);
  border: 1px solid var(--secondary-color);
  border-radius: 300px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  -ms-border-radius: 300px;
  -o-border-radius: 300px;
  box-shadow: 0px -1px 11px -2px var(--primary-color-dark2);
  -webkit-box-shadow: 0px -1px 11px -2px var(--primary-color-dark2);
  -moz-box-shadow: 0px -1px 11px -2px var(--primary-color-dark2);
}

.table__player {
  flex-direction: column;
  margin: 0 5rem;
}

.table__player-section {
  min-height: 80px;
  margin: 1rem 0;
}

.reveal-button {
  background-color: var(--secondary-color-dark2);
  color: white;
  font-weight: 500;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem 2rem;
}

.admin-card {
  height: 60px;
  width: 60px;
  padding: 10px;
  background-color: var(--secondary-color-light);
  border-radius: 50%;
}

.admin-card h3,
#user-logo h3 {
  font-size: 1.2rem;
  color: var(--primary-color-dark1);
}

.number-card {
  margin: 0 0.5rem;
}

.table__player-card {
  height: 70px;
  width: 40px;
  border: 2px solid var(--secondary-color);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.table__player-card.selected {
  background-color: var(--primary-color-light);
  box-shadow: 0px -1px 11px -2px var(--secondary-color-dark2);
  -webkit-box-shadow: 0px -1px 11px -2px var(--secondary-color-dark2);
  -moz-box-shadow: 0px -1px 11px -2px var(--secondary-color-dark2);
}

.number-card {
  height: 120px;
  width: 60px;
  display: flex;
  flex-direction: column;
}

.footer__result {
  font-size: 3rem;
}
