<header>
  <div class="header__logo-area">
    <img src="../assets/logo-pragma.png" alt="logo-pragma" id="logo-pragma" />
  </div>
  <h2 class="game-title">{{ gameName }}</h2>
  <div class="header__user-area">
    <div id="user-logo" class="flex-center">
      <h3>{{ playerInitials }}</h3>
    </div>
    <button class="outlined-button">Invitar jugadores</button>
  </div>
</header>

<main class="table">
  <!-- Players cards -->
  <section class="table__player-section flex-center">
    <ng-container *ngFor="let player of players.slice(0, 3)">
      <div class="table__player flex-center" *ngIf="!displayNewPlayerForm">
        <div
          class="table__player-card"
          [ngClass]="player.selected ? 'selected' : ''"
        ></div>
        <p class="player-name">{{ player.name }}</p>
      </div>
    </ng-container>
  </section>
  <section class="table__player-section flex-center">
    <ng-container *ngFor="let player of players.slice(3, 4)">
      <div class="table__player flex-center" *ngIf="!displayNewPlayerForm">
        <div
          class="table__player-card"
          [ngClass]="player.selected ? 'selected' : ''"
        ></div>
        <p class="player-name">{{ player.name }}</p>
      </div>
    </ng-container>

    <!-- Table -->
    <div class="table__body flex-center">
      <div class="table__body-border flex-center">
        <div class="table__body-inner flex-center">
          <button class="reveal-button" type="button" *ngIf="selectionDone">
            Revelar cartas
          </button>
        </div>
      </div>
    </div>

    <!-- Players cards -->
    <ng-container *ngFor="let player of players.slice(4, 5)">
      <div class="table__player flex-center" *ngIf="!displayNewPlayerForm">
        <div
          class="table__player-card"
          [ngClass]="player.selected ? 'selected' : ''"
        ></div>
        <p class="player-name">{{ player.name }}</p>
      </div>
    </ng-container>
  </section>
  <section class="table__player-section flex-center">
    <ng-container *ngFor="let player of players.slice(5, 6)">
      <div class="table__player flex-center" *ngIf="!displayNewPlayerForm">
        <div
          class="table__player-card"
          [ngClass]="player.selected ? 'selected' : ''"
        ></div>
        <p class="player-name">{{ player.name }}</p>
      </div>
    </ng-container>
    <div class="table__player flex-center" *ngIf="!displayNewPlayerForm">
      <div class="admin-card flex-center">
        <h3>{{ playerInitials }}</h3>
      </div>
      <p class="player-name">{{ playerName }}</p>
    </div>
    <ng-container *ngFor="let player of players.slice(6)">
      <div class="table__player flex-center" *ngIf="!displayNewPlayerForm">
        <div
          class="table__player-card"
          [ngClass]="player.selected ? 'selected' : ''"
        ></div>
        <p class="player-name">{{ player.name }}</p>
      </div>
    </ng-container>
  </section>
</main>
<footer class="flex-center" *ngIf="revealResult">
  <section class="footer__side-section flex-center"></section>
  <section class="footer__middle-section flex-center">
    <ng-container *ngFor="let number of playedNumbers">
      <app-game-card
        innerText="{{ number }}"
        footerText="# votos"
        class="card number-card"
      />
    </ng-container>
  </section>
  <section class="footer__side-section flex-center">
    <p>Promedio</p>
    <h2 class="footer__result">{{ avarage }}</h2>
  </section>
</footer>
<app-new-player-form
  class="modal flex-center"
  *ngIf="displayNewPlayerForm"
  (newPlayer)="onCreatePlayer($event)"
  (displayNewPlayerForm)="onDisplayNewPlayerForm($event)"
></app-new-player-form>
