<header>
  <div class="header__logo-area">
    <img src="../assets/logo-pragma.png" alt="logo-pragma" id="logo-pragma" />
  </div>
  <h2 class="game-title">{{ gameName }}</h2>
  <div class="header__user-area">
    <div id="user-logo" class="flex-center">
      <h3>{{ playerInitials }}</h3>
    </div>
    <button class="outlined-button">Invitar jugadores</button>
  </div>
</header>

<main class="table">
  <section class="table__player-section flex-center">
    <div class="table__player flex-center" *ngIf="!displayNewPlayerForm">
      <div class="table__player-card"></div>
      <p class="player-name">player #</p>
    </div>
    <div class="table__player flex-center" *ngIf="!displayNewPlayerForm">
      <div class="table__player-card"></div>
      <p class="player-name">player #</p>
    </div>
    <div class="table__player flex-center" *ngIf="!displayNewPlayerForm">
      <div class="table__player-card"></div>
      <p class="player-name">player #</p>
    </div>
  </section>
  <section class="table__player-section flex-center">
    <div class="table__player flex-center" *ngIf="!displayNewPlayerForm">
      <div class="table__player-card"></div>
      <p class="player-name">player #</p>
    </div>
    <div class="table__body flex-center">
      <div class="table__body-border flex-center">
        <div class="table__body-inner"></div>
      </div>
    </div>
    <div class="table__player flex-center" *ngIf="!displayNewPlayerForm">
      <div class="table__player-card"></div>
      <p class="player-name">player #</p>
    </div>
  </section>
  <section class="table__player-section flex-center">
    <div class="table__player flex-center" *ngIf="!displayNewPlayerForm">
      <div class="table__player-card"></div>
      <p class="player-name">player #</p>
    </div>
    <div class="table__player flex-center" *ngIf="!displayNewPlayerForm">
      <div class="admin-card flex-center">
        <h3>{{ playerInitials }}</h3>
      </div>
      <p class="player-name">{{ playerName }}</p>
    </div>
    <div class="table__player flex-center" *ngIf="!displayNewPlayerForm">
      <div class="table__player-card"></div>
      <p class="card-caption">player #</p>
    </div>
  </section>
</main>
<footer class="flex-center">
  <section class="footer__side-section flex-center"></section>
  <section class="footer__middle-section flex-center">
    <div class="number-card" *ngFor="let number of playedNumbers">
      <div class="number-card__border flex-center">
        <h2>{{ number }}</h2>
      </div>
      <p class="card-caption"># votos</p>
    </div>
  </section>
  <section class="footer__side-section flex-center"></section>
</footer>
<app-new-player-form
  class="modal flex-center"
  *ngIf="displayNewPlayerForm"
  (newPlayer)="onCreatePlayer($event)"
  (displayNewPlayerForm)="onDisplayNewPlayerForm($event)"
></app-new-player-form>
