.table__body {
  height: 325px;
  width: 575px;
  border: 2px solid var(--secondary-color-dark2);
  border-radius: 400px;
  -webkit-border-radius: 400px;
  -moz-border-radius: 400px;
  -ms-border-radius: 400px;
  -o-border-radius: 400px;
  box-shadow: 0px -1px 11px -2px var(--secondary-color);
  -webkit-box-shadow: 0px -1px 11px -2px var(--secondary-color);
  -moz-box-shadow: 0px -1px 11px -2px var(--secondary-color);
}

.table__body-border {
  height: 285px;
  width: 535px;
  border: 2px solid var(--secondary-color-light);
  border-radius: 400px;
  -webkit-border-radius: 400px;
  -moz-border-radius: 400px;
  -ms-border-radius: 400px;
  -o-border-radius: 400px;
}

.table__body-inner {
  height: 250px;
  width: 500px;
  background-color: var(--primary-color-dark2);
  border: 1px solid var(--secondary-color);
  border-radius: 300px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  -ms-border-radius: 300px;
  -o-border-radius: 300px;
  box-shadow: 0px -1px 11px -2px var(--primary-color-dark2);
  -webkit-box-shadow: 0px -1px 11px -2px var(--primary-color-dark2);
  -moz-box-shadow: 0px -1px 11px -2px var(--primary-color-dark2);
}

.table__player {
  flex-direction: column;
  margin: 0 5rem;
}

.table__player-section {
  min-height: 80px;
  margin: 1rem 0;
}

.reveal-button {
  background-color: var(--secondary-color-dark2);
  color: white;
  font-weight: 500;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem 2rem;
}

.reveal-button:hover {
  background-color: var(--secondary-color);
}
