.card__border {
  height: 100%;
  border: 2px solid var(--secondary-color);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.selected {
  background-color: var(--primary-color-light);
  -webkit-box-shadow: 0px 0px 28px 7px var(--secondary-color-dark2);
  -moz-box-shadow: 0px 0px 28px 7px var(--secondary-color-dark2);
  box-shadow: 0px 0px 28px 7px var(--secondary-color-dark2);
}

.selected h2 {
  color: var(--primary-color-dark2);
}
