.button__filled {
  max-width: 200px;
  color: var(--primary-color);
  background-color: white;
  font-weight: 700;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem 2rem;
  margin: 1rem auto 0 auto;
}

.button__filled:hover {
  background-color: var(--secondary-color);
  color: white;
}

.button__filled:disabled {
  background-color: var(--secondary-color-dark1);
  color: rgb(162, 162, 162);
  cursor: not-allowed;
}

.button__outlined {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px;
  margin: 0 1rem;
  border-radius: 2rem;
  cursor: pointer;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.button__outlined:hover {
  background-color: var(--secondary-color);
}
