<form class="single-form" [formGroup]="newPlayerForm" >
  <app-input-label for="player-name" text="Tu Nombre" />
  <app-input
    type="text"
    name="player-name"
    [formControlObject]="newPlayerForm.controls.playerName"
  />
  <form class="button-group" [formGroup]="newPlayerForm">
    <div class="button-group__section">
      <app-input-label for="player-mode" text="Jugador" class="button-label" />
      <input
        type="radio"
        id="player-mode"
        name="gameMode"
        value="Jugador"
        checked
        (change)="onChangeGameMode($event)"
      />
    </div>
    <div class="button-group__section">
      <app-input-label for="viewer-mode" text="Espectador" class="button-label" />
      <input
        type="radio"
        id="viewer-mode"
        name="gameMode"
        value="Espectador"
        (change)="onChangeGameMode($event)"

      />
    </div>
  </form>
  <div class="button-group">

    <app-button
    class="flex-center"
    text="Cancelar"
    (click)="onCancel()"
    />
    <app-button
    class="flex-center"
    text="Continuar"
    [disabled]="newPlayerForm.invalid"
    (click)="onCreatePlayer()"
    />
  </div>
</form>
