/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* Variables */
:root {
  --primary-color: #613291;
  --primary-color-light: #bb65ff;
  --primary-color-dark1: #340371;
  --primary-color-dark2: #250152;
  --secondary-color: #9479e8;
  --secondary-color-light: #bdbdff;
  --secondary-color-dark1: #615578;
  --secondary-color-dark2: #6429cd;
}

/* Common styles */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
}

html {
  background: var(--primary-color-dark1);
  background: radial-gradient(
    circle,
    var(--primary-color-dark1) 0%,
    var(--secondary-color-dark1) 100%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
}

/* Header styles */

header {
  width: 90vw;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-area {
  display: flex;
  align-items: center;
  font-size: 0.5rem;
  width: 33%;
}

.header__user-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33%;
}

#logo-pragma {
  height: 80px;
}

/* Footer styles */
footer {
  padding: 2rem 0;
}

.footer__side-section {
  width: 33%;
  flex-direction: column;
}

/* Forms styles */
.single-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.single-form__input {
  appearance: none;
  background-color: var(--primary-color-dark1);
  opacity: 0.8;
  border-radius: 2rem;
  border: 1px solid var(--primary-color-light);
  padding: 0.5rem 2rem;
  margin: 0.5rem 0;
}

.single-form__button {
  max-width: 200px;
  color: var(--primary-color);
  background-color: white;
  font-weight: 700;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem 2rem;
  margin: 2rem auto 0 auto;
}

.single-form__button:hover {
  background-color: var(--secondary-color);
  color: white;
}

.single-form__button:disabled {
  background-color: var(--secondary-color-dark1);
  color: rgb(162, 162, 162);
  cursor: not-allowed;
}

/* Button styles */

.button-group__section {
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
}

.button-group__section input[type="radio"] {
  appearance: none;
  background-color: var(--primary-color-dark1);
  border: 1px solid var(--primary-color-light);
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.button-group__section input[type="radio"]:checked {
  padding: 0.2rem;
}

.button-group__section input[type="radio"]:checked::before {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  content: "";
  background-color: var(--primary-color-light);
  border: 1px solid var(--primary-color-light);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.button-group__section label {
  margin-right: 0.5rem;
}

.outlined-button {
  background-color: transparent;
  border: 1px solid white;
  padding: 10px;
  margin: 0 1rem;
  border-radius: 2rem;
  cursor: pointer;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.outlined-button:hover {
  background-color: var(--secondary-color);
}

/* Notification styles */

.notification {
  position: absolute;
  top: 50px;
}
