/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* Variables */
:root {
  --primary-color: #613291;
  --primary-color-light: #bb65ff;
  --primary-color-dark1: #340371;
  --primary-color-dark2: #250152;
  --secondary-color: #9479e8;
  --secondary-color-light: #bdbdff;
  --secondary-color-dark1: #615578;
  --secondary-color-dark2: #6429cd;
}

/* Common styles */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-w {
  width: 100%;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  background: var(--primary-color-dark1);
  background: radial-gradient(
    circle,
    var(--primary-color-dark1) 0%,
    var(--secondary-color-dark1) 100%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
}

/* Footer styles */
footer {
  padding: 2rem 0;
}

.footer__side-section {
  width: 33%;
  flex-direction: column;
}

/* Notification styles */

.notification {
  position: absolute;
  top: 50px;
}
