<header>
  <div class="header__logo-area">
    <img src="../assets/logo-pragma.png" alt="logo-pragma" id="logo-pragma" />
  </div>
  <h2 class="game-title">{{ gameName }}</h2>
  <div class="header__user-area">
    <div id="user-logo" class="flex-center" (click)="onDisplayUserMenu()">
      <h3>{{ playerInitials }}</h3>
    </div>
    <div id="user-menu" *ngIf="displayUserMenu">
      <button
        class="menu-button"
        type="button"
        (click)="onDisplayChangeCardMode()"
      >
        Cambiar tipo de cartas
      </button>
      <div class="user-menu__sub" *ngIf="displayChangeCardMode">
        <select
          name="cards-mode"
          class="mode-selection"
          (change)="onCardModeChange($event)"
        >
          <option value="fibonacci" selected>Fibonacci</option>
          <option value="sequence">Secuencial</option>
          <option value="random">Aleatorio</option>
        </select>
      </div>
      <button class="menu-button" type="button" (click)="onChangeGameMode()">
        Cambiar modo de juego
      </button>
    </div>
    <button
      class="outlined-button"
      type="button"
      (click)="onDisplayInvitePlayers(true)"
    >
      Invitar jugadores
    </button>
  </div>
</header>

<main class="table">
  <!-- Players cards -->
  <section class="table__player-section flex-center">
    <ng-container *ngFor="let player of players.slice(0, 3)">
      <app-player-card
        [name]="player.name"
        [initials]="player.initials"
        [gameMode]="player.gameMode"
        [selected]="player.selected"
        [selectedNumber]="player.selectedNumber"
        [onSelectionChange]="onRandomSelectionChange"
        *ngIf="!displayNewPlayerForm"
      />
    </ng-container>
  </section>
  <section class="table__player-section flex-center">
    <ng-container *ngFor="let player of players.slice(3, 4)">
      <app-player-card
        [name]="player.name"
        [initials]="player.initials"
        [gameMode]="player.gameMode"
        [selected]="player.selected"
        [selectedNumber]="player.selectedNumber"
        [onSelectionChange]="onRandomSelectionChange"
        *ngIf="!displayNewPlayerForm"
      />
    </ng-container>

    <!-- Table -->
    <div class="table__body flex-center">
      <div class="table__body-border flex-center">
        <div class="table__body-inner flex-center">
          <button
            class="reveal-button"
            type="button"
            *ngIf="selectionDone && !revealResult"
            (click)="onDisplayResult()"
            @fadeIn
          >
            Revelar cartas
          </button>
          <button
            class="reveal-button"
            type="button"
            *ngIf="revealResult"
            (click)="onNewGame()"
            @fadeOut
          >
            Nueva votación
          </button>
        </div>
      </div>
    </div>

    <!-- Players cards -->
    <ng-container *ngFor="let player of players.slice(4, 5)">
      <app-player-card
        [name]="player.name"
        [initials]="player.initials"
        [gameMode]="player.gameMode"
        [selected]="player.selected"
        [selectedNumber]="player.selectedNumber"
        [onSelectionChange]="onRandomSelectionChange"
        *ngIf="!displayNewPlayerForm"
      />
    </ng-container>
  </section>
  <section class="table__player-section flex-center">
    <ng-container *ngFor="let player of players.slice(5)">
      <app-player-card
        [name]="player.name"
        [initials]="player.initials"
        [gameMode]="player.gameMode"
        [selected]="player.selected"
        [selectedNumber]="player.selectedNumber"
        [onSelectionChange]="onRandomSelectionChange"
        *ngIf="!displayNewPlayerForm"
      />
    </ng-container>
  </section>
</main>

<!-- Footer cards display -->

<footer
  class="flex-center"
  *ngIf="!displayNewPlayerForm && !revealResult"
  @zoomIn
>
  <section class="footer__side-section flex-center"></section>
  <section
    class="footer__middle-section flex-center"
    *ngIf="gameMode == 'jugador' && !revealResult"
  >
    <ng-container *ngFor="let number of selectionCards">
      <app-game-card
        innerText="{{ number }}"
        class="card number-card selectable"
        [ngClass]="number == playerSelection ? 'selected' : ''"
        (click)="onSelectionChange(number)"
      />
    </ng-container>
  </section>
  <section class="footer__side-section flex-center"></section>
</footer>

<!-- Footer result display -->

<footer class="flex-center" *ngIf="revealResult" @zoomIn>
  <section class="footer__side-section flex-center"></section>
  <section class="footer__middle-section flex-center">
    <ng-container *ngFor="let number of occurrences | keyvalue">
      <app-game-card
        innerText="{{ number.key }}"
        footerText="{{ number.value }} votos"
        class="card number-card"
      />
    </ng-container>
  </section>
  <section class="footer__side-section flex-center" *ngIf="revealResult">
    <p>Promedio</p>
    <h2 class="footer__result">{{ avarage }}</h2>
  </section>
</footer>

<!-- Player name modal -->
<app-new-player-form
  class="modal flex-center"
  *ngIf="displayNewPlayerForm"
  (newPlayer)="onCreatePlayer($event)"
  (displayNewPlayerForm)="onDisplayNewPlayerForm($event)"
/>

<!-- Invite player modal -->
<app-invite-player
  class="modal flex-center"
  *ngIf="displayInvitePlayers"
  (displayInvitePlayers)="onDisplayInvitePlayers($event)"
/>
