<app-header [inGame]="true" [gameName]="gameName" />

<!-- Table -->
<app-table
  [players]="players"
  [displayNewPlayerForm]="displayNewPlayerForm"
  [selectionDone]="selectionDone"
  [revealResult]="revealResult"
  [onRandomSelectionChange]="onRandomSelectionChange"
  [onDisplayResult]="onDisplayResult"
  [onNewGame]="onNewGame"
/>

<!-- Footer  -->

<app-footer
  [displayNewPlayerForm]="displayNewPlayerForm"
  [revealResult]="revealResult"
  [gameMode]="gameMode"
  [selectionCards]="selectionCards"
  [playerSelection]="playerSelection"
  [revealResult]="revealResult"
  [occurrences]="occurrences"
  [avarage]="avarage"
  [onSelectionChange]="onSelectionChange"
/>

<!-- Player name modal -->
<app-modal
  class="modal flex-center"
  *ngIf="displayNewPlayerForm"
  type="create"
/>

<!-- Invite player modal -->
<app-modal
  class="modal flex-center"
  *ngIf="displayInvitePlayers"
  [onClose]="onDisplayInvitePlayers"
  [header]="true"
  type="invite"
  size="lg"
/>
